In [3]:
import numpy as np
import pandas as pd
import pickle

In [4]:
Books = pd.read_csv('./datasets/Books.csv')
Ratings = pd.read_csv('./datasets/Ratings.csv')
Users= pd.read_csv('./datasets/Users.csv')
Books.head()

C:\Users\lalith\AppData\Local\Temp\ipykernel_12328\3084761110.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Books = pd.read_csv('./datasets/Books.csv')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
Ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
len(np.where(Ratings['Book-Rating']==0)[0])

716109

In [7]:
filter = Ratings[Ratings["Book-Rating"]==0].index 
Ratings.drop(filter,inplace=True)
len(np.where(Ratings['Book-Rating']==0)[0])

SyntaxError: incomplete input (3561652509.py, line 4)

In [ ]:
Users.head()

In [ ]:
filter = Books[~(Books['ISBN'].isin(Ratings['ISBN']))].index
Books.drop(filter,inplace=True)
Books.info()

In [ ]:
t = Ratings[Ratings['ISBN'].isin(Books[Books['Book-Title']=='Animal Farm']['ISBN'])]
t['Book-Rating'].mean()

In [ ]:
t = pd.merge(Ratings,Books,on='ISBN')[['User-ID','ISBN','Book-Rating','Book-Title']]

# t[t['Book-Title'].str.contains('Harry Potter')]

In [8]:
avg_rating = t.groupby('Book-Title').agg(avg_rating=('Book-Rating','mean')).reset_index()

NameError: name 't' is not defined